@tailwind preflight;

@tailwind utilities;

@font-face {
  font-family: "SexPositive";
  font-style: normal;
  src: url(/static/SPP-Regular.woff) format("opentype");
}
@font-face {
  font-family: "Manufab";
  font-style: normal;
  src: url(/static/Manufab-Regular.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: normal;
  font-weight: 50;
  src: url(/static/Ergata-Talhertz0.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: normal;
  font-weight: 100;
  src: url(/static/Ergata-Talhertz1.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: normal;
  font-weight: 200;
  src: url(/static/Ergata-Talhertz2.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: normal;
  font-weight: 300;
  src: url(/static/Ergata-Talhertz3.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: normal;
  font-weight: 400;
  src: url(/static/Ergata-Talhertz4.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: normal;
  font-weight: 500;
  src: url(/static/Ergata-Talhertz5.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: normal;
  font-weight: 600;
  src: url(/static/Ergata-Talhertz6.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: bold;
  font-weight: 700;
  src: url(/static/Ergata-Talhertz7.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: italic;
  font-weight: 50;
  src: url(/static/Ergata-Talhertz0i.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: italic;
  font-weight: 100;
  src: url(/static/Ergata-Talhertz1i.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: italic;
  font-weight: 200;
  src: url(/static/Ergata-Talhertz2i.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: italic;
  font-weight: 300;
  src: url(/static/Ergata-Talhertz3i.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: italic;
  font-weight: 400;
  src: url(/static/Ergata-Talhertz4i.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: italic;
  font-weight: 500;
  src: url(/static/Ergata-Talhertz5i.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: italic;
  font-weight: 600;
  src: url(/static/Ergata-Talhertz6i.woff) format("opentype");
}
@font-face {
  font-family: "Talhertz";
  font-style: bold italic;
  font-weight: 700;
  src: url(/static/Ergata-Talhertz7i.woff) format("opentype");
}
html {
  font-size: 21px;
  line-height: 30px;
  height: 100%;
  background-color: #d2dce6;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
}

/* For what we inject from contentful */
section a {
  color: #b428b4;
}

section a:hover {
  color: red;
}

#__next {
  height: 100%;
}

section h1 {
  font-weight: 700;
  font-size: 33px;
  margin-top: 33px;
  margin-bottom: 11px;
}

section h2 {
  font-weight: 300;
  font-size: 30px;
  margin-top: 0.83em;
  margin-bottom: 0.33em;
  text-transform: uppercase;
}

section h3 {
  font-weight: 700;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 1em;
}

section p {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
}

section li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li ul {
  margin-bottom: 1em;
}

/*
 * Page layout
 */

/*  944 -131 (size of the font applied to this ratio font-size is a calc function based on viewport-width and apsect) */

.logo {
  font-size: 100px;
  line-height: 1em;
  text-align: center;
}
.chapter {
  font-size: 54px;
  line-height: 0px;
  text-align: right;
  letter-spacing: -2px;
  margin-top: -20px;
  margin-bottom: 40px;
  margin-right: 18px;
}

nav > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 20px);
}

#__next > * {
  margin: auto;
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "secondary-nav"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 1fr;
}

/* Burger Menu */

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: darkgray;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}
